<div class="row align-items-center">

  <div class="col-lg order-lg-first">
    <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
      <li class="nav-item">
        <a href="./index.html" class="nav-link active">
          <i class="fe fe-home"></i> Home</a>
      </li>
      <li class="nav-item dropdown">
        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
          <i class="fe fe-file"></i> Sample Pages</a>
        <div class="dropdown-menu dropdown-menu-arrow">
          <a href="/login" class="dropdown-item ">Login</a>
          <a href="/forms" class="dropdown-item ">Forms Elements</a>
          <a href="/cards" class="dropdown-item ">Cards</a>
          <a href="/table" class="dropdown-item ">Table</a>
          <a href="/graphics" class="dropdown-item ">Graphics</a>
          <a href="/page-not-found" class="dropdown-item ">404 error</a>
        </div>
      </li>
    </ul>
  </div>
</div>