<div class="header">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" href="home">
        <img src="https://www.avanade.com/~/media/logo/avanade-logo.svg" class="header-brand-img" alt="Maturidade 4DX">
      </a>
      <div class="col-lg-7 ml-auto">
        <form class="input-icon my-7 my-lg-0">
          <input type="search" class="form-control header-search" placeholder="Search…" tabindex="1">
          <div class="input-icon-addon">
            <i class="fe fe-search"></i>
          </div>
        </form>
      </div>
      <div class="d-flex order-lg-2 ml-auto">
        <ava-header-notification></ava-header-notification>
        <ava-header-profile></ava-header-profile>
      </div>
    </div>
  </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <ava-navbar-top></ava-navbar-top>
  </div>
</div>