<div class="sidebar" data-color="orange" data-background-color="white">
    <div class="logo text-center">
        <img src="https://www.avanade.com/~/media/logo/avanade-logo.svg" class=" col-11 img-responsive">
        <a href="https://www.avanade.com" class="simple-text logo-normal">
            m
            <span class="text-warning">a</span>turidade
            <b>4DX</b>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
                <li class="nav-item active  ">
                    <a class="nav-link" href="#">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item active  ">
                    <a class="nav-link" href="#">
                        <i class="material-icons">view_list</i>
                        <p>Projetos</p>
                    </a>
                </li>
                <li class="nav-item active  ">
                    <a class="nav-link" href="#">
                        <i class="material-icons">people</i>
                        <p>Times</p>
                    </a>
                </li>
                <li class="nav-item active  ">
                    <a class="nav-link" href="#">
                        <i class="material-icons">receipt</i>
                        <p>Relatórios</p>
                    </a>
                </li>
                <li class="nav-item active  ">
                    <a class="nav-link" href="#">
                        <i class="material-icons">live_help</i>
                        <p>Ajuda</p>
                    </a>
                </li>
        </ul>
    </div>
</div>